<% if user_signed_in? %>
  <div class="row container">
    <section class="post-form col-md-offset-8">
      <button class="btn btn-primary" data-toggle="modal"
        data-target="#post-form">
        <span class="glyphicon glyphicon-plus new-post-icon"></span>
        <%= t ".new_post" %>
      </button>
      <%= render "shared/post_form", post: @post %>
    </section>
  </div>
  <div class="col-md-9">
    <%= render "shared/feed", feed_items: @feed_items %>
  </div>
  <div class="col-md-3">
  </div>
<% else %>
  <div class="row quote-v1">
    <div class="text-center">
      <span class="welcome"><%= t ".welcome" %></span>
      <span><%= t ".introduction" %></span>
      <span><%= t ".search_able" %></span>
    </div>
    <span class="register-now">
      <%= link_to t(".register_now"), new_user_registration_path,
        class: "btn-transparent register-now" %>
    </span>
  </div>
<% end %>
