<div class="modal fade" id="post-form" tabindex="-1"
   role="dialog" aria-labelledby="post-<%= post.id %>-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= form_for post, remote: true do |f| %>
          <div class="show-errors-create error-explanation"></div>
          <div class="field post-form">
            <%= f.text_field :title, placeholder: t(".title"),
              class: "form-control post-title" %>
            <%= f.text_area :content, placeholder: t(".content"),
              class: "ckeditor"%>
          </div>
          <div><%= f.submit t(".submit_post"),
            class: "btn btn-orange submit-new-post" %></div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">
          <%= t "posts.show.close" %></button>
      </div>
    </div>
  </div>
</div>
