<button class="btn post-form-btn btn-info" data-toggle="modal"
  data-target="#post-new" title= "<%= t "static_pages.home.new_post" %>">
  <span class="glyphicon glyphicon-plus new-post-icon"><%= t ".create_new" %></span>
</button>
<%= render "new", post: @post, users: @users %>
<span class="search_form"><%= render "search_form" %></span>
<div class="csv-link">
</div>
<div class="clearfix"></div>
<div class="post-table">
  <%= form_tag destroy_posts_posts_manager_index_path, method: :delete, data: {confirm: t(".sure")}, class: "bulk-form", remote: true do %>
    <%= submit_tag "Delete all selected", class: "submit-bulk-destroy pull-right" %>
    <table class="table-striped posts-manager">
      <thead>
        <th class="head"><%= t ".title" %></th>
        <th class="head"><%= t ".content" %></th>
        <th class="head"><%= t ".user" %></th>
        <th class="head"><%= t ".id" %></th>
        <th class="head"></th>
        <th class="head"></th>
        <th></th>
      </thead>
      <tbody class="table-body">
        <% @posts.each do |post| %>
          <%= render "post", post: post%>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <div class="modal-list">
    <%= render "modal_list", posts: Post.all %>
  </div>
  <div class="paginate pull-right"><%= render "paginate", posts: @posts %></div>
</div>
