<li class="post-li post-<%= post.id %>">
  <div class="main-content">
    <%= image_tag post.user.avatar.url, class: "avatar-header" %>
    <span class="user"><%= link_to post.user.full_name, post.user %></span>
    <span class="post-content", data-id="<%= post.id %>">
      <h3><%= link_to post.title, post %></h3>
      <p><%= post.content.html_safe %></p>
    </span>
  </div>
  <span class="tag-list pull-right">
    <%= render "tags/tag_list", post: post %>
  </span>
  <br/>
  <span class="timestamp pull-right">
    <i><%= post.created_at %></i>
    <span class = "number-comments-<%= post.id %>">
      <%= render "comments/number_comments", post: post %>
    </span>
    <% if can? :update, post %>
      <button class="btn btn-link" data-toggle="modal" data-target="#post-<%= post.id %>"><%= t ".edit" %></button>
      <%= render "posts/edit", post: post %>
    <% end %>
    <% if can? :destroy, post %>
      <%= link_to t(".delete"), post, method: :delete, remote: true,
        data: {confirm: t(".sure")} %>
    <% end %>
  </span>
  <div class="clearfix"></div>
  <span class="list-comments-<%= post.id %>">
    <%= render post.comments.last(3), post: post %>
  </span>
  <% if can? :create, post.comments.build %>
    <%= render "comments/comment_form", post: post, comment: post.comments.build %>
  <% end %>
</li>
